<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="FSP.Domain.Properties.Settings.fspConnectionString"
      connectionString="Data Source=38.124.164.213\octa,5815;Initial Catalog=fsp;Persist Security Info=True;User ID=sa;Password=J@bb@Th3Hu22"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="fspConnectionString" value="Data Source=38.124.164.213\octa,5815;Initial Catalog=fsp;Persist Security Info=True;User ID=sa;Password=J@bb@Th3Hu22"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
