@{
    ViewBag.Title = "LATATrax | Incidents";
}

<link href="~/Content/octa/incident.css" rel="stylesheet" />

<div ng-app="octaApp" ng-cloak>
    <div ng-controller="incidentController">
        <div class="row">
            <div class="col-sm-3">
                <div class="incident-page-header-container">
                    {{header}} <i class="fa fa-spinner fa-spin" ng-show="isBusyGettingIncidents"></i>
                </div>
            </div>
            <div class="col-sm-6">
                <br />
                <div class="incident-button-group-container">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button"
                                class="btn btn-default"
                                ng-class="{active: showDispatched, 'btn-primary': showDispatched}"
                                ng-click="showDispatched = !showDispatched">
                            {{dispatchedIncidentsTitle}} ({{dispatchedIncidents.length}})
                        </button>
                        <button type="button"
                                class="btn btn-default"
                                ng-class="{active: showActive, 'btn-primary': showActive}"
                                ng-click="showActive = !showActive">
                            {{activeIncidentsTitle}} ({{activeIncidents.length}})
                        </button>
                        <button type="button"
                                class="btn btn-default"
                                ng-class="{active: showTodays, 'btn-primary': showTodays}"
                                ng-click="showTodays = !showTodays">
                            {{todaysCompletedTitle}} ({{todaysCompletedIncidents.length}})
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <br />
                <a class="btn btn-default pull-right"
                   ng-click="showColumnConfig()">
                    <i class="fa fa-gear"></i> Column Configuration
                </a>
            </div>
        </div>

        <br />

        <incident-list ng-if="showDispatched"
                       title="dispatchedIncidentsTitle"
                       records="dispatchedIncidents"
                       columns="columns"></incident-list>

        <incident-list ng-if="showActive"
                       title="activeIncidentsTitle"
                       records="activeIncidents"
                       columns="columns"></incident-list>

        <incident-list ng-if="showTodays"
                       title="todaysCompletedTitle"
                       records="todaysCompletedIncidents"
                       columns="columns"></incident-list>


        <div class="modal fade"
             id="columnConfigModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            id="myModalLabel">
                            Show/Hide Columns
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="checkbox checkbox-slider--b-flat">
                            <label>
                                <input type="checkbox"
                                       ng-model="allColumnsChecked"
                                       ng-click="toggleAllColumns()" /><span>Toggle All</span>
                            </label>
                        </div>
                        <br />
                        <div ng-repeat="col in columns">
                            <div class="checkbox checkbox-slider--b-flat">
                                <label>
                                    <input type="checkbox"
                                           ng-model="col.show" /><span>{{col.name}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="submitColumnConfig()"
                                data-dismiss="modal">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/appAngular")
}