<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogEnable" value="true"/>
    <add key="LogDir" value="C:\OCTAFSPLogs\"/>
    <!--<add key="FSPdb" value="Initial Catalog=fsp;Data Source=38.124.164.211\OCTA,5815;User ID=sa;Password=C@pt@1n@mer1c@"/>
    <add key="BeatDB" value="Initial Catalog=fsp;Data Source=38.124.164.211\OCTA,5815;User ID=sa;Password=C@pt@1n@mer1c@"/>-->
    <add key="FSPdb" value="Initial Catalog=fsp;Data Source=38.124.164.212\OCTA,5815;User ID=sa;Password=J@bb@Th3Hu22"/>
    <add key="BeatDB" value="Initial Catalog=fsp;Data Source=38.124.164.212\OCTA,5815;User ID=sa;Password=J@bb@Th3Hu22"/>
    <!--<add key="FSPdb" value="Initial Catalog=fsp;Data Source=38.124.164.213\OCTA,5815;User ID=sa;Password=J@bb@Th3Hu22"/>
    <add key="BeatDB" value="Initial Catalog=fsp;Data Source=38.124.164.213\OCTA,5815;User ID=sa;Password=J@bb@Th3Hu22"/>-->
    <!--<add key="FSPdb" value="Initial Catalog=fsp;Data Source=localhost\SQLEXPRESS;User Id=sa; Password=J@bb@Th3Hu22"/>
    <add key="BeatDB" value="Initial Catalog=fsp;Data Source=localhost\SQLEXPRESS;User Id=sa; Password=J@bb@Th3Hu22"/>-->
    <add key="OtherServers" value="localhost"/>
    <!--<add key="OtherServers" value="38.124.164.213"/>-->
    <add key="ListenPort" value="9008"/>
    <add key="forward" value="true"/>
    <add key="strArchive" value="Initial Catalog=fspArchive;Data Source=38.124.164.212\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>
    <add key="strConn" value="Initial Catalog=fsp;Data Source=38.124.164.211\\OCTA,5815;User Id=sa;Password=C@pt@1n@mer1c@"/>
  </appSettings>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5"
                 maxRequestLength="2147483647"
                 executionTimeout="1600"
                 requestLengthDiskThreshold="2147483647" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITowTruckService"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9007/TowTruckService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITowTruckService"
                contract="srSecondaryService.ITowTruckService"
                name="BasicHttpBinding_ITowTruckService"/>
    </client>
    <services>
      <service name="FPSService.FSPService">
        <endpoint address=""
                  behaviorConfiguration="FPSService.FSPServiceAspNetAjaxBehavior"
                  binding="webHttpBinding"
                  contract="FPSService.FSPService"/>
      </service>
      <service name="FPSService.AJAXFSPService">
        <endpoint address=""
                  behaviorConfiguration="FPSService.AJAXFSPServiceAspNetAjaxBehavior"
                  binding="webHttpBinding"
                  contract="FPSService.AJAXFSPService"/>
      </service>
      <service name="FPSService.RSSFeeder">
        <endpoint address=""
                  behaviorConfiguration="FPSService.RSSFeederAspNetAjaxBehavior"
                  binding="webHttpBinding"
                  contract="FPSService.RSSFeeder"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FPSService.FSPServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="FPSService.AJAXFSPServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="FPSService.RSSFeederAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true"
                               minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types"
                          publicKeyToken="89845dcd8080cc91"
                          culture="neutral"/>
        <!-- <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" /> -->
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0"
                         newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>