@model FSP.Domain.Model.FleetVehicle

@{
    ViewBag.Title = "Activate " + @Model.VehicleNumber;

}

<h2>Activate "@Model.VehicleNumber"</h2>

<h3>Are you sure you want to activate this fleet vehicle?</h3>

@using (Html.BeginForm())
{
    <p>
        <div class="form-actions">
            <button type="submit" class="btn btn-info">
                Activate Fleet Vehicle
            </button>
        </div>
    </p>
}
