@model FSP.Domain.Model.Role

@{
    ViewBag.Title = "Delete " + @Model.RoleName;
    
}

<h2>Delete @Model.RoleName</h2>

<h3>Are you sure you want to delete this role?</h3>

@using (Html.BeginForm())
{
    <p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">
                Delete</button>
        </div>
    </p>
}
