@{
    ViewBag.Title = "Assist Entry";
}

<h2>Assist Entry Screen</h2>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/bootstrap-timepicker.css" rel="stylesheet" />

<br />

<div class="row">
    <div class="col-sm-3">
        <label>Service Date</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input id="txtServiceDate" type="text" class="form-control datepicker" placeholder="service date" />
        </div>
    </div>
    <div class="col-sm-2">
        <label>Dispatch Time</label>
        <div class="input-group bootstrap-timepicker">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" id="txtDispatchTime" class="form-control timerpicker" placeholder="dispatch time" />
        </div>      
    </div>
    <div class="col-sm-2">
        <label for="txtAssistStartTime">Assist Start Time</label>
        <div class="input-group bootstrap-timepicker">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" id="txtAssistStartTime" placeholder="assist start time" class="form-control timerpicker" />
        </div>        
    </div>
    <div class="col-sm-2">
        <label for="txtAssistEndTime">Assist End Time</label>
        <div class="input-group bootstrap-timepicker">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" id="txtAssistEndTime" placeholder="assist end time" class="form-control timerpicker" />
        </div>       
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-sm-3">
        <label for="ddlDrivers">Drivers</label>
        <select name="ddlDrivers" id="ddlDrivers" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label for="ddlContractors">Contractors</label>
        <select name="ddlContractors" id="ddlContractors" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label for="ddlVehicles">Vehicles</label>
        <select name="ddlVehicles" id="ddlVehicles" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label for="ddlBeatNumbers">Beat Numbers</label>
        <select name="ddlBeatNumbers" id="ddlBeatNumbers" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
</div>

<br />
<legend>Incident Information</legend>
<div class="row">
    <!--incident-->
    <div class="col-sm-3">
        <label for="ddlIncidentTypes">Incident Type</label>
        <select name="ddlIncidentTypes" id="ddlIncidentTypes" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label for="ddlTrafficSpeeds">Traffic Speed</label>
        <select name="ddlTrafficSpeeds" id="ddlTrafficSpeeds" class="form-control"></select>
    </div>
    <div class="col-sm-3">
        <label for="txtCustomerWaitTime">Customer Wait Time</label>
        <input type="text" name="txtCustomerWaitTime" id="txtCustomerWaitTime" value="0" class="form-control" />
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4">
        <h4>Select Services Rendered</h4>
        <div id="services"></div>
    </div>
</div>

<br />
<legend>Location Information</legend>
<div class="row">
    <div class="col-sm-3">
        <label for="ddlFreeways">Freeway</label>
        <select name="ddlFreeways" id="ddlFreeways" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label>Freeway Direction</label>
        <select id="ddlFreewayDirection" class="form-control">
            <option selected>--Select--</option>
            <option>N</option>
            <option>S</option>
            <option>E</option>
            <option>W</option>
        </select>
    </div>
    <div class="col-sm-3">
        <label for="ddlVehiclePositions">Vehicle Position</label>
        <select name="ddlVehiclePositions" id="ddlVehiclePositions" class="form-control"></select>
    </div>
    <div class="col-sm-3">
        <label>Location</label>
        @*JNO, JSO, JEO, JWO*@
        <select id="ddlDirection" class="form-control">
            <option selected>--Select--</option>
            <option>AT</option>
            <option>JNO</option>
            <option>JSO</option>
            <option>JEO</option>
            <option>JWO</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3">
        <label>Cross Street</label>
        <input type="text" id="txtStreet" name="txtStreet" class="form-control" />
    </div>
</div>

<br />
<legend>Vehicle Information</legend>
<div class="row">
    <!--vehicle-->
    <div class="col-sm-3">
        <label for="txtVehicleMake">Make</label>
        <input type="text" id="txtVehicleMake" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="ddlVehicleTypes">Type</label>
        <select name="ddlVehicleTypes" id="ddlVehicleTypes" class="form-control"></select>
    </div>
    <div class="col-sm-3">
        <label for="txtVehicleColor">Color</label>
        <input type="text" id="txtVehicleColor" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="txtLicensePlate">Plate</label>
        <input type="text" id="txtLicensePlate" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <label for="txtState">State</label>
        <select id="selState" class="form-control">
            <option>AL</option>
            <option>AK</option>
            <option>AS</option>
            <option>AZ</option>
            <option>AR</option>
            <option selected>CA</option>
            <option>CD</option>
            <option>CO</option>
            <option>CT</option>
            <option>DE</option>
            <option>DC</option>
            <option>FL</option>
            <option>GA</option>
            <option>GU</option>
            <option>HI</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>IA</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>ME</option>
            <option>MD</option>
            <option>MH</option>
            <option>MA</option>
            <option>MI</option>
            <option>FM</option>
            <option>MN</option>
            <option>MS</option>
            <option>MO</option>
            <option>MT</option>
            <option>MX</option>
            <option>NE</option>
            <option>NV</option>
            <option>NH</option>
            <option>NJ</option>
            <option>NM</option>
            <option>NY</option>
            <option>NC</option>
            <option>ND</option>
            <option>MP</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PW</option>
            <option>PA</option>
            <option>PR</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VT</option>
            <option>VA</option>
            <option>VI</option>
            <option>WA</option>
            <option>WV</option>
            <option>WI</option>
            <option>WY</option>
        </select>
    </div>
</div>

<br />
<legend>Tow Information</legend>
<div class="row">
    <div class="col-sm-3">
        <label for="txtStartOD">StartOD</label>
        <input type="text" name="txtStartOD" id="txtStartOD" value="0.0" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="txtEndOD">EndOD</label>
        <input type="text" name="txtEndOD" id="txtEndOD" value="0.0" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="ddlTowLocations">Tow Location</label>
        <select name="ddlTowLocations" id="ddlTowLocations" class="form-control"></select><!--auto loaded through AJAX, see LogAssist.js-->
    </div>
    <div class="col-sm-3">
        <label for="txtDropZone">Drop Zone</label>
        <input type="text" id="txtDropZone" class="form-control" />
    </div>
</div>

<br />
<legend>Customer Information</legend>
<div class="row">
    <div class="col-sm-3">
        <label for="txtTip">Tip</label>
        <input type="text" name="txtTip" id="txtTip" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="txtTipDetail">Tip Detail</label>
        <input type="text" name="txtTipDetail" id="txtTipDetail" class="form-control" />
    </div>
    <div class="col-sm-3">
        <label for="CustLastName">Customer Last Name</label>
        <input type="text" name="txtCustomerLastName" id="txtCustomerLastName" class="form-control" />
    </div>
</div>

<br />
<legend>Other</legend>
<div class="row">
    <div class="col-sm-3">
        <label for="txtLogNumber">Log Number</label>
        <input type="text" name="txtLogNumber" id="txtLogNumber" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <label>Comments</label>
        <textarea id="txtComments" rows="7" class="form-control"></textarea>
    </div>
</div>

<br />
<div class="form-actions">
    <button class="btn btn-success btn-lg" data-bind="click: postAssist, enable: !isBusy()">Submit</button>
</div>

<br />
<br />



@section Scripts{
    @Scripts.Render("~/bundles/KO")
    <script src="~/Scripts/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/MyScripts/AssistEntry/AssistScript.js" type="text/javascript"></script>
}