@{
    ViewBag.Title = "LATA Trax | Home";
}

<link href="~/Content/octa/home.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>LATATrax</h1>
    <p class="lead">
        The LATATrax Operations site is one of the primary interfaces for performing Freeway Service Patrol
        (FSP) operations on a daily basis, as seen in the following figure.
    </p>
</div>


<div class="text-center">
    <img src="@Url.Content("~/Images/LATATraxInterfaces.png")" alt="Interface Document" />
</div>

<p class="lead">
    The LATATrax Operations site provides a near real time "common operating picture" of FSP operations
    with moving vehicle icons, their status, alerts and freeway features such as service segments, beats
    and call boxes.  LATATrax Operations is used by tow truck drivers, dispatchers, California Highway
    Patrol(CHP) officers and Transportation Authority personnel such as planners and managers.  LATATRax
    Operations is a web application that is accessed via browsers from desktop and mobile devices by
    authorized personnel.
</p>
<p class="lead">
    Tow Truck Drivers.  Tow Truck drivers are equipped with smart tablets (e.g., iPads or Android tablets)
    that  allow them to see their location and freeway beats and segments.  Approximate locations of
    assists to which they have been assigned by dispatchers can also be displayed on the map.  Communications
    between drivers and dispatchers is accomplished using a text and drop down selection interface via
    LATATrax Service.
</p>
<p class="lead">
    Dispatchers.  County and CHP dispathers use LATATrax Operations as a common operating picture to easily
    determine the status and location of tow trucks and to efficiently assign resources to assist motorists.
    Tow truck icons automatically change color based on receipt of status information from the tow truck
    drivers via LATATrax Service, or from information (e.g., off beat alarm) calculated by that service.
    Beats, service segments and drop zones are clearly depicted on the LATATrax Operations map to assist
    dispatchers in making tow assignments.
</p>
<p class="lead">
    CHP Officers.  LATATrax Operations provides a comprehensive, near real time view of FSP activities and
    the location of the tow trucks and assist sites.  Officers can access the site from any web enabled
    device such as a CHP laptop or smart phone.
</p>

<div class="footerContainer">
    <p>&copy; @DateTime.Now.Year - LATA</p>
</div>