@model FSP.Domain.Model.CHPOfficer

@{
    ViewBag.Title = "Delete " + @Model.OfficerFirstName + " " + @Model.OfficerLastName;
    
}

<h2>Delete "@Model.OfficerFirstName @Model.OfficerLastName"</h2>

<h3>Are you sure you want to delete this CHP officer?</h3>

@using (Html.BeginForm())
{
    <p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">
                Delete</button>
        </div>
    </p>
}
