<h3>
   {{title}}
</h3>
<table class="table table-striped table-hover table-bordered">
   <thead>
      <tr class="idosomething">
         <th class="nowrap"
            ng-show="columns[0].show"
            ng-click="updateSortColumn('BeatNumber')">
            Beat #
         </th>
         <th class="nowrap"
            ng-show="columns[1].show"
            ng-click="updateSortColumn('TruckNumber')">
            Truck #
         </th>
         <th class="nowrap"
            ng-show="columns[2].show"
            ng-click="updateSortColumn('DriverName')">
            Driver
         </th>
         <th class="nowrap"
            ng-show="columns[3].show"
            ng-click="updateSortColumn('DispatchComments')">
            Comments
         </th>
         <th class="nowrap"
            ng-show="columns[4].show"
            ng-click="updateSortColumn('Timestamp')">
            Time
         </th>
         <th class="nowrap"
            ng-show="columns[5].show"
            ng-click="updateSortColumn('IncidentNumber')">
            Dispatch #
         </th>
         <th class="nowrap"
            ng-show="columns[6].show"
            ng-click="updateSortColumn('State')">
            State
         </th>
         <th class="nowrap"
            ng-show="columns[7].show"
            ng-click="updateSortColumn('ContractCompanyName')">
            Contractor
         </th>
         <th class="nowrap"
            ng-show="columns[8].show"
            ng-click="updateSortColumn('AssistNumber')">
            Assist #
         </th>

         <th class="nowrap"
            ng-show="columns[9].show"
            ng-click="updateSortColumn('Assists.Color')">
            Vehicle Color
         </th>
         <th class="nowrap"
            ng-show="columns[10].show"
            ng-click="updateSortColumn('Assists.LicensePlate')">
            Vehicle License Plate
         </th>
         <th class="nowrap"
            ng-show="columns[11].show"
            ng-click="updateSortColumn('Assists.Make')">
            Vehicle Make
         </th>
         <th class="nowrap"
            ng-show="columns[12].show"
            ng-click="updateSortColumn('Assists.DropZone')">
            Drop Zone
         </th>
         <th class="nowrap"
            ng-show="columns[13].show"
            ng-click="updateSortColumn('Assists.DispatchTime')">
            Dispatch Time
         </th>
         <th class="nowrap"
            ng-show="columns[14].show"
            ng-click="updateSortColumn('Assists.State')">
            State
         </th>
         <th class="nowrap"
            ng-show="columns[15].show"
            ng-click="updateSortColumn('Assists.CustomerLastName')">
            Customer Last Name
         </th>
         <th class="nowrap"
            ng-show="columns[16].show"
            ng-click="updateSortColumn('Assists.CustomerWaitTime')">
            Customer Wait Time
         </th>
         <th class="nowrap"
            ng-show="columns[17].show"
            ng-click="updateSortColumn('Assists.Tip')">
            Tip
         </th>
         <th class="nowrap"
            ng-show="columns[18].show"
            ng-click="updateSortColumn('Assists.TipDetail')">
            Tip Detail
         </th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="incident in incidents|orderBy:sortColumn:predicate">
         <td ng-show="columns[0].show">
            {{incident.BeatNumber}}
         </td>
         <td ng-show="columns[1].show">
            {{incident.TruckNumber}}
         </td>
         <td ng-show="columns[2].show">
            {{incident.DriverName}}
         </td>
         <td ng-show="columns[3].show"
            class="dispatch-comments">
            {{incident.DispatchComments}}
         </td>
         <td ng-show="columns[4].show">
            {{incident.Timestamp}}
         </td>
         <td ng-show="columns[5].show">
            {{incident.IncidentNumber}}
         </td>
         <td ng-show="columns[6].show">
            {{incident.State}}
         </td>
         <td ng-show="columns[7].show">
            {{incident.ContractCompanyName}}
         </td>
         <td ng-show="columns[8].show">
            {{incident.Assists.AssistNumber}}
         </td>
         <td ng-show="columns[9].show">
            {{incident.Assists.Color}}
         </td>
         <td ng-show="columns[10].show">
            {{incident.Assists.LicensePlate}}
         </td>
         <td ng-show="columns[11].show">
            {{incident.Assists.Make}}
         </td>
         <td ng-show="columns[12].show">
            {{incident.Assists.DropZone}}
         </td>
         <td ng-show="columns[13].show">
            {{incident.Assists.DispatchTime|datetimefilter}}
         </td>
         <td ng-show="columns[14].show">
            {{incident.Assists.State}}
         </td>
         <td ng-show="columns[15].show">
            {{incident.Assists.CustomerLastName}}
         </td>
         <td ng-show="columns[16].show">
            {{incident.Assists.CustomerWaitTime}}
         </td>
         <td ng-show="columns[17].show">
            {{incident.Assists.Tip}}
         </td>
         <td ng-show="columns[18].show">
            {{incident.Assists.TipDetail}}
         </td>
      </tr>
   </tbody>
</table>