@model FSP.Domain.Model.DriverInteraction

@{
    ViewBag.Title = "Delete " + @Model.InteractionArea;
    
}

<h2>Delete "@Model.InteractionArea"</h2>

<h3>Are you sure you want to delete this driver interaction?</h3>

@using (Html.BeginForm())
{
    <p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">
                Delete</button>
        </div>
    </p>
}
