<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <!--<add name="OctaHarness.Properties.Settings.db" connectionString="Initial Catalog=fsp;Data Source=octa-dev\octa,5815;User Id=sa;Password=C@pt@1n@mer1c@" providerName="" />-->
    <add name="OctaHarness.Properties.Settings.db" connectionString="Initial Catalog=fsp;Data Source=38.124.164.212\octa,5815;User Id=sa;Password=J@bb@Th3Hu22" providerName="" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITowTruckService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://38.124.164.212:9007/TowTruckService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITowTruckService"
                contract="ServiceReference1.ITowTruckService" name="BasicHttpBinding_ITowTruckService" />
        </client>
    </system.serviceModel>
</configuration>
