@model FSP.Domain.Model.InspectionType

@{
    ViewBag.Title = "Delete " + @Model.InspectionType1;
    
}

<h2>Delete "@Model.InspectionType1"</h2>

<h3>Are you sure you want to delete this inspection type?</h3>

@using (Html.BeginForm())
{
    <p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">
                Delete</button>
        </div>
    </p>
}
