@{
    ViewBag.Title = "LATATrax | Map";
}

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDUpSUrJujBkrtXscsS2kBWEhuBUadG1NU" type="text/javascript"></script>

<link href="~/Content/octa/map.css" rel="stylesheet" />

<div ng-app="octaApp" class="mapPageContainer" ng-cloak>
    <div ng-controller="mapController">

        <div class="mapTopNavigation">
            <form class="form-inline text-center">
                <button class="btn btn-danger" ng-click="stopFollow()" ng-show="truckToBeFollowed && truckToBeFollowed.lat && truckToBeFollowed.lon">
                    Stop Following {{truckToBeFollowed.truckNumber}}
                </button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#filterModal" ng-hide="filterApplied">
                    <i class="fa fa-filter"></i> Filter
                </button>
                <button class="btn btn-danger" ng-show="filterApplied" ng-click="clearFilter()">
                    Clear Filter
                </button>
                <a class="btn btn-primary"
                   target="_blank"
                   ng-class="{'btn-danger': haveAlarms}"
                   href="{{$parent.rootUrl}}/AlertMessages/Alerts">
                    <i class="fa fa-exclamation-triangle"></i> Alarms
                </a>
                <a class="btn btn-primary"
                   target="_blank"
                   href="{{$parent.rootUrl}}/Truck/Grid">
                    Tow Truck List
                </a>
                <a class="btn btn-primary"
                   target="_blank"
                   href="http://38.124.164.211:9007/admin/Dashboard.aspx">
                    Dashboard
                </a>
            </form>
        </div>

        <div class="mapSideNavigation">
            <div class="panel-group"
                 id="accordion"
                 role="tablist"
                 aria-multiselectable="false">
                @*tow yards*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="headingTowTruckYards">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#towTruckYards"
                               aria-expanded="false"
                               aria-controls="towTruckYards">
                                Tow Truck Yards
                            </a>
                        </h4>
                    </div>
                    <div id="towTruckYards"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="headingTowTruckYards">
                        <div class="panel-body">
                            <map-tow-yard reset-map="resetMap()"
                                          display-map-data="displayMapData(polygons, markers)"
                                          set-map-location="setMapLocation(lat, lon, zoom)"
                                          set-edit-polygon="setEditPolygon(id)"
                                          set-cancel-edit-polygon="setCancelEditPolygon(id, color)"
                                          hide-map-data="hideMapData()"
                                          visible="towTruckYardsVisible"
                                          selected-polygon="selectedPolygon"
                                          set-new-polygon="setNewPolygon(color)"
                                          can-edit="currentUserIsAdmin"></map-tow-yard>
                        </div>
                    </div>
                </div>

                @*segments*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="headingSegment">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#segments"
                               aria-expanded="false"
                               aria-controls="segments">
                                Segments
                            </a>
                        </h4>
                    </div>
                    <div id="segments"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="headingSegment">
                        <div class="panel-body">
                            <map-segment reset-map="resetMap()"
                                         display-map-data="displayMapData(polygons, markers)"
                                         set-map-location="setMapLocation(lat, lon, zoom)"
                                         set-edit-polygon="setEditPolygon(id)"
                                         set-cancel-edit-polygon="setCancelEditPolygon(id, color)"
                                         hide-map-data="hideMapData()"
                                         visible="segmentsVisible"
                                         selected-polygon="selectedPolygon"
                                         make-all-polygons-uneditable="makeAllPolygonsUneditable()"
                                         set-new-polygon="setNewPolygon(color)"
                                         can-edit="currentUserIsAdmin"></map-segment>
                        </div>
                    </div>
                </div>

                @*beats*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="headingBeats">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#beats"
                               aria-expanded="false"
                               aria-controls="beats">
                                Beats
                            </a>
                        </h4>
                    </div>
                    <div id="beats"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="headingBeats">
                        <div class="panel-body">
                            <map-beat reset-map="resetMap()"
                                      display-map-data="displayMapData(polygons, markers)"
                                      set-map-location="setMapLocation(lat, lon, zoom)"
                                      set-edit-polygon="setEditPolygon(id)"
                                      set-cancel-edit-polygon="setCancelEditPolygon(id, color)"
                                      hide-map-data="hideMapData()"
                                      hide-map-markers="hideMapMarkers()"
                                      visible="beatsVisible"
                                      selected-polygon="selectedPolygon"
                                      make-all-polygons-uneditable="makeAllPolygonsUneditable()"
                                      set-new-polygon="setNewPolygon(color)"
                                      can-edit="currentUserIsAdmin"></map-beat>
                        </div>
                    </div>
                </div>

                @*dropZones*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="headingDropZones">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#dropZones"
                               aria-expanded="false"
                               aria-controls="headingDropZones">
                                Drop Zones
                            </a>
                        </h4>
                    </div>
                    <div id="dropZones"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="headingDropZones">
                        <div class="panel-body">
                            <map-drop-zone reset-map="resetMap()"
                                           display-map-data="displayMapData(polygons, markers)"
                                           set-map-location="setMapLocation(lat, lon, zoom)"
                                           set-edit-polygon="setEditPolygon(id)"
                                           set-cancel-edit-polygon="setCancelEditPolygon(id, color)"
                                           hide-map-data="hideMapData()"
                                           visible="dropZonesVisible"
                                           selected-polygon="selectedPolygon"
                                           set-new-polygon="setNewPolygon(color)"
                                           can-edit="currentUserIsAdmin"></map-drop-zone>
                        </div>
                    </div>
                </div>

                @*callBoxes*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="headingCallBoxes">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#callBoxes"
                               aria-expanded="false"
                               aria-controls="headingCallBoxes">
                                Call Boxes
                            </a>
                        </h4>
                    </div>
                    <div id="callBoxes"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="headingCallBoxes">
                        <div class="panel-body">
                            <map-call-box reset-map="resetMap()"
                                          display-map-data="displayMapData(polygons, markers)"
                                          set-map-location="setMapLocation(lat, lon, zoom)"
                                          set-edit-marker="setEditMarker(id)"
                                          set-cancel-edit-marker="setCancelEditMarker(id)"
                                          set-marker-position="setMarkerPosition(lat,lon)"
                                          hide-map-data="hideMapData()"
                                          visible="callBoxesVisible"
                                          selected-marker="selectedMarker"
                                          set-new-marker="setNewMarker()"
                                          can-edit="currentUserIsAdmin"></map-call-box>
                        </div>
                    </div>
                </div>

                @*511s*@
                <div class="panel panel-default">
                    <div class="panel-heading"
                         role="tab"
                         id="heading511s">
                        <h4 class="panel-title">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#511s"
                               aria-expanded="false"
                               aria-controls="heading511s">
                                511 Signs
                            </a>
                        </h4>
                    </div>
                    <div id="511s"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="heading511s">
                        <div class="panel-body">
                            <map-511 reset-map="resetMap()"
                                     display-map-data="displayMapData(polygons, markers)"
                                     set-map-location="setMapLocation(lat, lon, zoom)"
                                     set-edit-marker="setEditMarker(id)"
                                     set-cancel-edit-marker="setCancelEditMarker(id)"
                                     set-marker-position="setMarkerPosition(lat,lon)"
                                     hide-map-data="hideMapData()"
                                     visible="Five11sVisible"
                                     selected-marker="selectedMarker"
                                     set-new-marker="setNewMarker()"
                                     can-edit="currentUserIsAdmin"></map-511>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="googleMap" class="googleMap"></div>

        <div class="modal fade"
             id="filterModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            id="myModalLabel">
                            Filter
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="allFiltersChecked"
                                               ng-click="toggleAllFilters()" /><span>Toggle All</span>
                                    </label>
                                </div>
                                <br />
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="onPatrolChecked" /><span>On Patrol</span>
                                    </label>
                                </div>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="driverLoggedOnChecked" /><span>Driver Logged On</span>
                                    </label>
                                </div>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="onAssistChecked" /><span>On Assist/Incident</span>
                                    </label>
                                </div>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="onBreakLunchChecked" /><span>On Break/Lunch</span>
                                    </label>
                                </div>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="onRollOutInChecked" /><span>On Roll Out/Roll In</span>
                                    </label>
                                </div>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="notLoggedOnChecked" /><span>Not Logged In</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h3>Tow Contractor</h3>
                                <form class="form-inline">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="contractorNameFilter" />
                                    <button class="btn btn-default"
                                            ng-show="contractorNameFilter"
                                            ng-click="clearContractorName()">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnSaveConfig"
                                type="button"
                                class="btn btn-primary"
                                ng-click="filter()"
                                data-dismiss="modal">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/googleMap/jQueryRotateCompressed.2.1.js"></script>
    <script src="~/Scripts/googleMap/RichMarker.js"></script>
    <script src="~/Scripts/googleMap/markerwithlabel.js"></script>
    <script src="~/Scripts/googleMap/markerclusterer.js"></script>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/appAngular")
}