<div ng-show="!isAdding">
  <div class="form-group"
    ng-show="isBusyGetting">
    Loading Call Boxes...
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <div class="form-group"
    ng-hide="isBusyGetting">
    <input type="text"
      ng-model="nameFilter"
      class="form-control"
      placeholder="Type to filter" />
    <br>
    <select class="form-control"
      ng-model="selectedCallBoxID"
      ng-change="setSelectedCallBox()"
      ng-disabled="callBoxs.length === 0 || isEditing"
      size="5">
      <option value="">
        --Select Call Box--
      </option>
      <option ng-repeat="callBox in callBoxs|filter:nameFilter"
        value="{{callBox.CallBoxID}}">{{callBox.SignNumber}}</option>
    </select>
  </div>
</div>

<!--input form-->
<div ng-show="selectedCallBox">
  <div class="form-group">
    Sign Number
    <input ng-model="selectedCallBox.SignNumber"
      type="text"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
  <div class="form-group">
    Comments
    <textarea ng-model="selectedCallBox.Comments"
      class="form-control"
      ng-disabled="!isEditing && !isAdding"></textarea>
  </div>
  <div class="form-group">
    Location
    <textarea ng-model="selectedCallBox.Location"
      class="form-control"
      ng-disabled="!isEditing && !isAdding"></textarea>
  </div>
  <div class="form-group">
    Freeway
    <input ng-model="selectedCallBox.FreewayID"
      type="text"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
  <div class="form-group">
    Site Type
    <input ng-model="selectedCallBox.SiteType"
      type="text"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
  <div class="form-group">
    Phone Number
    <input ng-model="selectedCallBox.TelephoneNumber"
      type="text"
      mask="(999) 999-9999"
      clean="false"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
  <div class="form-group">
    Lattitude
    <span style="display:none">{{selectedMarker.position.lat()}}</span>
    <input ng-model="selectedPosition.lat"
      type="text"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
  <div class="form-group">
    Longitude
    <span style="display:none">{{selectedMarker.position.lng()}}</span>
    <input ng-model="selectedPosition.lng"
      type="text"
      class="form-control"
      ng-disabled="!isEditing && !isAdding" />
  </div>
</div>

<div ng-show="canEdit">
  <!--edit existing-->
  <div class="form-group"
    ng-show="selectedCallBox && !isAdding">
    <button ng-show="!isEditing"
      ng-click="setEdit()"
      class="btn btn-primary btn-sm">
      <i class="fa fa-pencil">
      </i> Edit Call Box
    </button>
    <button ng-show="isEditing"
      ng-click="save()"
      ng-disabled="isBusySaving || isBusyDeleting"
      class="btn btn-primary btn-sm">
      <i class="fa fa-check"
        ng-hide="isBusySaving">
      </i>
      <i class="fa fa-refresh fa-spin"
        ng-show="isBusySaving">
      </i>
      Save
    </button>
    <button ng-show="isEditing"
      ng-disabled="isBusySaving || isBusyDeleting"
      ng-click="delete()"
      class="btn btn-danger btn-sm">
      <i class="fa fa-trash"
        ng-hide="isBusyDeleting">
      </i>
      <i class="fa fa-refresh fa-spin"
        ng-show="isBusyDeleting">
      </i>
      Delete
    </button>
    <button ng-show="isEditing"
      ng-click="cancelEdit()"
      class="btn btn-default btn-sm">
      Cancel
    </button>
  </div>

  <!--add new-->
  <div class="form-group"
    ng-show="!isEditing">
    <button ng-hide="selectedCallBox"
      ng-click="prepareNew()"
      class="btn btn-success btn-sm">
      <i class="fa fa-plus"></i> Add Call Box
    </button>
    <button ng-show="!isEditing && isAdding"
      ng-click="add()"
      ng-disabled="isBusyAdding"
      class="btn btn-success btn-sm">
      <i class="fa fa-check"
        ng-hide="isBusyAdding">
      </i>
      <i class="fa fa-refresh fa-spin"
        ng-show="isBusyAdding">
      </i>
      Save
    </button>
    <button ng-show="!isEditing && isAdding"
      ng-click="cancelAdd()"
      class="btn btn-default btn-sm">
      Cancel
    </button>
  </div>
</div>