<div ng-show="!isAdding">
   <div class="form-group"
      ng-show="isBusyGetting">
      Loading Drop Zones...
      <i class="fa fa-refresh fa-spin"></i>
   </div>
   <div class="form-group"
      ng-hide="isBusyGetting">
      <select class="form-control"
         ng-model="selectedDropZoneID"
         ng-change="setSelectedDropZone()"
         ng-disabled="dropZones.length === 0 || isEditing">
         <option value="">
            --Select Drop Zone--
         </option>
         <option ng-repeat="dropZone in dropZones"
            value="{{dropZone.DropZoneID}}">{{dropZone.DropZoneNumber}}</option>
      </select>
   </div>
</div>

<form name="pageConfig.dropZoneForm"
   novalidate>
   <!--input form-->
   <div ng-show="selectedDropZone">
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.DropZoneNumber.$invalid}">
         Number *
         <input ng-model="selectedDropZone.DropZoneNumber"
            type="text"
            name="DropZoneNumber"
            required
            class="form-control"
            ng-disabled="!isEditing && !isAdding" />
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.DropZoneDescription.$invalid}">
         Description *
         <textarea ng-model="selectedDropZone.DropZoneDescription"
            class="form-control"
            required
            name="DropZoneDescription"
            ng-disabled="!isEditing && !isAdding"></textarea>
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.Comments.$invalid}">
         Comments *
         <textarea ng-model="selectedDropZone.Comments"
            class="form-control"
            name="Comments"
            required
            ng-disabled="!isEditing && !isAdding"></textarea>
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.Location.$invalid}">
         Location *
         <textarea ng-model="selectedDropZone.Location"
            class="form-control"
            name="Location"
            required
            ng-disabled="!isEditing && !isAdding"></textarea>
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.Restrictions.$invalid}">
         Restrictions *
         <input ng-model="selectedDropZone.Restrictions"
            type="text"
            name="Restrictions"
            required
            class="form-control"
            ng-disabled="!isEditing && !isAdding" />
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.PDPhoneNumber.$invalid}">
         PD Phone #
         <input ng-model="selectedDropZone.PDPhoneNumber"
            type="text"
            name="PDPhoneNumber"
            class="form-control"
            required
            ng-disabled="!isEditing && !isAdding" />
      </div>
      <div class="form-group">
         Capacity
         <input ng-model="selectedDropZone.Capacity"
            type="text"
            name="Capacity"
            class="form-control"
            ng-disabled="!isEditing && !isAdding" />
      </div>
      <div class="form-group"
         ng-class="{'has-error': pageConfig.dropZoneForm.City.$invalid}">
         City *
         <input ng-model="selectedDropZone.City"
            type="text"
            name="City"
            required
            class="form-control"
            ng-disabled="!isEditing && !isAdding" />
      </div>
      <div ng-show="isEditing || isAdding">
         *required fields
      </div>
   </div>

   <!--buttons-->
   <div class="form-group"
      ng-show="selectedDropZone && !isAdding">
      <button ng-show="!isEditing"
         ng-click="setEdit()"
         class="btn btn-primary btn-sm">
         <i class="fa fa-pencil">
         </i> Edit Drop Zone
      </button>
      <button ng-show="isEditing"
         ng-click="save()"
         ng-disabled="pageConfig.dropZoneForm.$invalid || isBusySaving || isBusyDeleting || !selectedPolygon"
         class="btn btn-primary btn-sm">
         <i class="fa fa-check"
            ng-hide="isBusySaving">
         </i>
         <i class="fa fa-refresh fa-spin"
            ng-show="isBusySaving">
         </i>
         Save
      </button>
      <button ng-show="isEditing"
         ng-disabled="isBusySaving || isBusyDeleting"
         ng-click="delete()"
         class="btn btn-danger btn-sm">
         <i class="fa fa-trash"
            ng-hide="isBusyDeleting">
         </i>
         <i class="fa fa-refresh fa-spin"
            ng-show="isBusyDeleting">
         </i>
         Delete
      </button>
      <button ng-show="isEditing"
         ng-click="cancelEdit()"
         class="btn btn-default btn-sm">
         Cancel
      </button>
   </div>

   <!--add new-->
   <div class="form-group"
      ng-show="!isEditing">
      <button ng-hide="selectedDropZone"
         ng-click="prepareNew()"
         class="btn btn-success btn-sm">
         <i class="fa fa-plus"></i> Add Drop Zone
      </button>

      <div ng-show="!isEditing && isAdding">
         <div ng-hide="selectedPolygon.getPath().getLength() > 0"
            class="alert alert-danger">
            Polygon missing
         </div>

         <button ng-click="add()"
            ng-disabled="isBusyAdding || pageConfig.dropZoneForm.$invalid || selectedPolygon.getPath().getLength() === 0"
            class="btn btn-success btn-sm">
            <i class="fa fa-check"
               ng-hide="isBusyAdding">
            </i>
            <i class="fa fa-refresh fa-spin"
               ng-show="isBusyAdding">
            </i>
            Save
         </button>
         <button ng-click="cancelAdd()"
            class="btn btn-default btn-sm">
            Cancel
         </button>
      </div>


   </div>

</form>