@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery.signalR-0.5.3.js"></script>
<script src="../signalr/hubs"></script>
<script src="~/MyScripts/hubTest.js"></script>


<h2>Testing My Hub</h2>

<input type="button" id="trigger" value="Click!" />

<ul id="messages"></ul>
