@{
    ViewBag.Title = "Truck";
}


<script src="~/Scripts/jquery.signalR-0.5.3.js"></script>
<script src="../signalr/hubs"></script>
<script src="~/MyScripts/trucks.js"></script>


<h2>Trucks</h2>

<input type="button" id="trigger" value="Click!" />

<ul id="messages"></ul>
