@model IEnumerable<FSP.Domain.Model.ServiceType>
@{
    ViewBag.Title = "Service Types";
}

<p>
    @Html.ActionLink("Add Service Type", "Create")
</p>
<h2>Service Types</h2>
<table class="table table-bordered table-condensed table-striped sortable">
    <thead>
        <tr>
            <th>Name
            </th>
            <th>Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ServiceType1, "Edit", new { id = item.ServiceTypeID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTypeCode)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServiceTypeID })
                </td>
            </tr>
        }
    </tbody>
</table>
