@model FSP.Web.Models.UIIncidentDispatch

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<br />
@*<iframe src="http://latatrax.info/ReportServer/Reports/ReportMain.aspx" width="100%" height="800" frameborder="0"></iframe>*@
<iframe src="http://38.124.164.212/ReportServer/Reports/Logon.aspx" width="100%" height="800" frameborder="0"></iframe>
