<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <!--STAGING-->
    <!--<add name="fspEntities"
         connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.212\octa,5815;initial catalog=fsp;persist security info=True;user id=sa;password=J@bb@Th3Hu22;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />-->
    <!--PRODUCTION-->
    <add name="fspEntities"
         connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.211\octa,5815;initial catalog=fsp;persist security info=True;user id=sa;password=C@pt@1n@mer1c@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PROD"
         value="Initial Catalog=fsp;Data Source=38.124.164.211\\OCTA,5815;User Id=sa;Password=C@pt@1n@mer1c@"/>
    <add key="ARCHIVE"
         value="Initial Catalog=fspArchive;Data Source=38.124.164.212\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>
    <!--<add key="PROD" value="Initial Catalog=fsp;Data Source=OCTA-PROD\\OCTA,5815;User Id=sa;Password=C@pt@1n@mer1c@"/>
    <add key="ARCHIVE" value="Initial Catalog=fspArchive;Data Source=OCTA-PROD\\OCTA,5815;User Id=sa;Password=C@pt@1n@mer1c@"/>-->
    <!--DEV-->
    <!--<add key="PROD"
         value="Initial Catalog=fsp;Data Source=38.124.164.213\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>
    <add key="ARCHIVE"
    value="Initial Catalog=fspArchive;Data Source=38.124.164.213\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>-->
    <!--ACCEPTANCE-->
    <!--<add key="PROD"
         value="Initial Catalog=fsp;Data Source=38.124.164.212\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>
    <add key="ARCHIVE"
         value="Initial Catalog=fspArchive;Data Source=38.124.164.212\\OCTA,5815;User Id=sa;Password=J@bb@Th3Hu22"/>-->

  </appSettings>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx"
             timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="ApplicationServices"
             applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="ApplicationServices"
             applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider"
             type="System.Web.Security.WindowsTokenRoleProvider"
             applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>